/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
}

html,
body {
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    display: none;
}


#circle {
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: white;
    z-index: 999999;
    border-radius: 50%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;

}

#main {
    width: 100%;
}

#home {
    height: 100vh;
    width: 100%;
    background-color: #000;
    position: relative;
}

.navbar {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3%;
}

.nav-components a {
    text-decoration: none;
}

.nav-components a i {
    display: none;
}

.bounding {
    width: fit-content;
    background-color: red;
    overflow: hidden;
}

#head-text h1 {
    font-size: 10vmin;
    opacity: 0.6;
}

#head-text {
    margin-left: 7%;
    margin-top: 10%;
}

#bottom-head-text {
    margin-left: 32%;
}

#blocktext {
    width: fit-content;
    margin-left: 7%;
}

#blocktext h4 {
    text-align: right;
}


#brand {
    font-size: 1.5vw;
}


@media (max-width:600px) {
    #circle {
        display: none;
    }

    #brand {
        font-size: 5vmin;
    }

    .nav-components a i {
        display: block;
    }

    .nav-components a span {
        display: none;
    }

    .bounding {
        margin-left: 20%;

    }


    #head-text {
        margin-top: 11%;
    }

    #top-head-text {
        margin-left: 19%;
    }

    #blocktext {
        margin-left: 19%;
    }

    #blocktext h4 {
        position: relative;
        right: 28%;
        font-size: 3vmin;

    }

}

#small-head {
    margin-top: 7%;
    text-align: right;
    padding-right: 1%;

}

@media (max-width:600px) {
    #small-head {
        margin-top: 59%;
        margin-right: 29%;
    }

    #small-head h5 {
        font-size: 4vmin;

    }

}

#home-footer {
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
}

#home-footer .footerElements a {
    text-decoration: none;
    font-size: .8vw;
    font-weight: bold;
    font-family: 'Zilla Slab', serif;
    color: #ddd;
}

#home .footerElements a i {
    color: #ddd;
}

#footerEl-2 {
    position: relative;
    right: 4vw;
}

@media (max-width:600px) {


    #home-footer {
        width: 100%;
        height: 10%;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3%;
        bottom: -1.6%;

    }

    #home-footer .footerElements a {
        text-decoration: none;
        font-size: 3.5vmin;
        font-weight: bold;
        position: relative;
        left: 9%;
        color: #ddd;
    }

    #home-footer .footerElements a i {
        color: #ddd;
    }

    #footerEl-2 {
        font-size: .8vw;
        position: relative;
        left: 0.5vw;
    }

    #footerEl-3 {
        position: relative;
        left: 1.7vw;
    }


}

#page-2 {
    position: relative;
    width: 100%;
    height: 80vh;
    background-color: #000;
    padding-top: 10%;
}

.element {
    border-top: 2px solid grey;
    position: relative;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
}

.element h1 {
    font-size: 9vmin;
}

#elem-3 {
    border-bottom: 1px solid grey;
}

@media (max-width:600px) {
    #page-2 {
        padding-top: 40%;
    }

    .element {
        width: 100%;
    }
}

.element img {
    position: absolute;
    z-index: 999;
    height: 130%;
    display: none;
}

#about {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #000;
}

#about-content {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 4%;
    padding-right: 9%;
    padding-top: 12%;
}

#about-logo {
    height: 40%;
    width: 19%;
    text-align: center;
    border-radius: 4%;
}

#about-logo h2 {
    position: relative;
    top: 42%;
    color: white;
    font-size: 40px;
    right: 4%;
}

#about-lines {
    height: 35%;
    width: 30%;
    background-color: #000;

}

#about-lines h3 {
    margin-bottom: 4%;

}

#about-lines p {
    line-height: 1.5;
    font-family: 'Zilla Slab', serif;

}

#about-lines button {
    background-color: black;
    margin-top: 5%;
    padding: 10px 30px;
    border-radius: 50px;
    border-color: #fff;
    font-size: 1.8vmin;
    transition: 0.3s all ease;
}

#about-lines button a {
    text-decoration: none;
}

#about-lines button:hover {
    background-color: #fff;
    color: #000;
    transform: scale(0.9);

}

#about-lines button a:hover {
    color: #000;

}

@media (max-width:600px) {
    #about-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 12%;
        padding-right: 5%;
    }

    #about-lines {
        height: 40px;
        width: 100%;
        height: 70vmin;
        font-size: 3svmin;
    }

    #about-logo {
        width: 66%;
        height: 28%;
    }

    #about-lines button {
        font-size: 3vmin;
        margin-left: 33%;
        margin-top: 7%;
    }

    #about-lines h3 {
        margin-left: 35%;
    }
}

#youtube-link {
    padding-left: 2%;
}

#youtube-link a {
    text-decoration: none;
    font-family: 'Zilla Slab', serif;
    font-weight: 700;
    margin-top: 2%;
}

#youtube-link h4 {
    color: grey;
}

@media (max-width:600px) {
    #youtube-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 0%;
    height: 5%;
}

.footer #part-1 {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 7%;
    padding-left: 3%;
}

#part-1 h5 {
    font-size: 90%;
}

#part-2 {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4%;
    height: 100%;
}

#part-2 a {
    text-decoration: none;
}

#part-2 a i {
    font-size: 2vmin;
}

@media (max-width:600px) {
    .footer {
        margin-bottom: 1%;
    }

    #part-2 a i {
        font-size: 4vmin;
    }
}